@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');


html, body{
  font-family: 'Kanit', sans-serif !important;
}

body {
  margin: 0;
  background-color: #EEEEEE;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  margin: 0 auto;
  padding: 2rem;
}


